name: ⚙️ BFF workflow

on:
    push:
        branches:
            - main
        paths:
            - "packages/backend-shared/**"
            - "packages/shared/**"
            - "packages/db/**"
            - "packages/bff-admin/**"
            - "packages/client-admin/**"
            - ".github/workflows/bff-admin.yml"

env:
    NODE_VERSION: "20.x"
    TAG: t-bff-admin-${{ github.sha }}-${{ github.run_id }}-${{ github.run_attempt }}-dev

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4.2.2

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Login to Docker Registry
              uses: docker/login-action@v3
              with:
                  registry: ${{ vars.REGISTRY_BASE_URL }}
                  username: DOCKER_LOGIN
                  password: ${{ secrets.DOCKER_PSW }}

            - name: Build and push Docker image
              uses: docker/build-push-action@v5
              with:
                  context: .
                  file: ./packages/bff/Dockerfile
                  push: true
                  tags: ${{ vars.REGISTRY_URL }}:${{ env.TAG }}
                  cache-from: type=registry,ref=${{ vars.REGISTRY_URL }}:buildcache
                  cache-to: type=registry,ref=${{ vars.REGISTRY_URL }}:buildcache,mode=max
                  build-args: |
                      COMMIT_HASH=${{ github.sha }}
                      BUILD_DATE=${{ github.run_started_at }}

            - name: Call jcloud-deploy webhook
              run: |
                  curl -X POST \
                    -H "Content-Type: application/json" \
                    -H "x-api-key: ${{ secrets.BFF_ADMIN_API_KEY }}" \
                    -d '{"image":"${{ vars.REGISTRY_URL }}:${{ env.TAG }}"}' \
                    https://jcloud-api.jale.cz/deploy
